<h1>תחזוקת אתר</h1>
<form name="input" action="create" method="get">
Name: <input type="text" name="name" /><br />
Location: <input type="text" name="loc" /><br>
Desc: <input type="text" name="desc" /><br>
<input type="submit" value="Submit" /><br>
</form>


